/*comment*/ 
body{
    background: #183550;
  }
  .container{
    max-width: 600px;
    margin-top: 5%
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 600px;
  }
  .todos li{
    background: #0d538d;
  }
  .delete{
    cursor: pointer;
  }
  .filtered{
      display: none !important;
  }